
* {
  margin: 0px;
  color: rgb(0, 0, 0);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/*desde já, aviso que sou pessima em explicar, mais ainda em css🌹*/



body {
  background-image: linear-gradient(to right, #5e4dff, rgb(255, 255, 255), #ab98ff);

}

.barra-navegação {
  height: 70px;
  top: 0%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  background-image: linear-gradient(to right, #9310ff, rgb(20, 207, 198), #4aaeff);
  border-radius: 0 0 3em 3em;
  /* para telas pequenas */
  box-shadow: #6b6666 0px 0px 10px;
  position: sticky;
  z-index: 2;

}

.barra-navegação:hover {
  background-image: linear-gradient(to right, #a83fff, rgb(20, 207, 198), #1093ff);
  box-shadow: 0 15px 10px rgba(36, 0, 94, 0.37);

}

.lupa-pesquisar {
  color: rgb(124, 23, 62);
  border: 0;
  width: 250px;
  height: 40px;
  border-radius: 2em;
  text-align: start;
  outline: none;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAACXBIWXMAAAsTAAALEwEAmpwYAAACnElEQVR4nL2V30sUURTHh4oySsKdc2bRColWhK12ztmNKHrYfj3Vg70sQcjOvWNItaZY9iz1twSlUuBrT/0QfBJCDaz+hSjSl36Qxrkzymre3RlbunDhzp0787nne773XMextAHkXIj+Q4U0oYDemi5jpDF55/xrU0A9Gui5Rl7VyGuWvqqAp3YMDDz/ugJeMT8DmldAI9Wsf6I/WzggXcYyp4AXZI1CWlYe9aWHIP9WwN810p1xx9llW1txKrs1Fmsa+Yf5JilM5JJIBBK6/sWkm1Nu8VIEo+VEMsY5WQs9vp0Ust4U8pCREXjKaZp8STzQfCO5GsoIvCj/qGLpuB2ENBbtiEbk+eahUx1pYRp41BjIpQf2RciTZlGG8hGYH4875T1pQGG2cDKyPT2zLpKDaPLj9rZHIHotH6YCub3tMehNChAvKeRHOwIBz9hBSBP10mnglxr5a3+24KWVTjVy3lYziMWjU8+vgu5yWxozKOD71kVy0OLatSBWrTj5vQr4XVyGZhta1onsrZDfR1WFehruSEKOklmsyXM14x/WSHNxPfupkJ8o4BsDGf/MIJQ6N0dDw7EiL5qGLlFJGZFyEnh8WebE4hqpaqoG0Gx0DIq1ypGz+zcgHl0xGwFeuZUtHGsKMlF51Cfhx4VySCRpJJcGGhZILPHn0ONzEvG9XG5fQpiJTKy6KEkWR93F/EHpMpaES07ic/NNI3+pv6sk11vltcsY5cx68cWRT6qO00cD17+wzfulRDBp4japXRrpqTnUwDNmA8Cj9U4M0D9v2dCH0OUup1Ut6C63rd+42/SP4uCWwQah1Cly/RdY6HKXDaaQplsGcmKYRPA3jOZaCpImMimgT3XR/ArBv9Zy0AYMaVoiUUBXZfIPkldT8/9WTdYAAAAASUVORK5CYII=");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 12px 12px;
  text-align: center;
}

textarea {
  width: 10px;
}


.lupa-pesquisar::placeholder {
  color: rgb(171, 36, 58, 0.3);
  border: 0;
  margin-left: -1.2vw;
  font-size: 0.9em;
  text-align: center
}

/*botoes da barra de navegação 🐹*/

.img {
  width: 100px;

}


.botão-carrinho{
  background:none;
  cursor: pointer;
  border: 0px;

}

.icone-compras {
  width: 50px;
}

.botão-perfil {
  width: 50px;
  border: 0px;
  background: none;
  cursor: pointer;
}

.Novidades,
.Makes {
  background-color: #ffffff;
  border: 0;
  border-radius: 2em;
  cursor: pointer;
  width: 150px;
  height: 40px;
  font-size: 1em;
}

.Novidades:hover,
.Makes:hover,
.botão-carrinho:hover,
.botão-perfil:hover
{
  transform: scale(1.1);

  filter: drop-shadow(0 10px 2.5px #0000002a)
}
