
* {
  margin: 0px;
  color: rgb(121, 120, 120);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/*desde já, aviso que sou pessima em explicar, mais ainda em css🌹*/



body {
  background-color: white;
}

.barra-navegação {
  height: 70px;
  top: 0%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  background: linear-gradient(298deg,rgb(255, 83, 123) 5%, rgba(255, 255, 0, 1) 46%, rgba(72, 234, 229, 1) 62%, rgba(181, 69, 255, 1) 86%, rgba(102, 93, 199, 1) 100%);
  border-radius: 0 0 3em 3em;
  /* para telas pequenas */
  box-shadow: #6b6666 0px 0px 10px;
  position: sticky;
  z-index: 2;

}

.barra-navegação:hover {
  background: linear-gradient(298deg,rgb(255, 55, 102) 5%, rgb(255, 255, 70) 46%, rgb(63, 255, 249) 62%, rgb(198, 112, 255) 86%, rgb(104, 90, 255) 100%);
  box-shadow: 0 15px 10px grey;

}

.lupa-pesquisar {
  color: rgb(124, 23, 62);
  border: 2px;
  width: 250px;
  height: 40px;
  text-align: center;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: 12px 9px;
  
}

textarea {
  width: 10px;
}


.lupa-pesquisar::placeholder {
  color: rgb(171, 36, 58, 0.3);
  border: 0;
  margin-left: -1.2vw;
  font-size: 0.9em;
  text-align: center
}

/*botoes da barra de navegação 🐹*/

.img {
  width: 100px;

}


.botão-carrinho{
  background:none;
  cursor: pointer;
  border: 0px;

}

.icone-compras {
  width: 50px;
}

.botão-perfil {
  width: 50px;
  border: 0px;
  background: none;
  cursor: pointer;
}

.Novidades,
.Makes {
  background-color: #ffffff;
  border: 0;
  border-radius: 2em;
  cursor: pointer;
  width: 150px;
  height: 40px;
  font-size: 1em;
  
}

.Novidades:hover,
.Makes:hover,
.botão-carrinho:hover,
.botão-perfil:hover
{
  transform: scale(1.1);

  filter: drop-shadow(0 10px 2.5px #0000002a)
}


/* Area do banner 🌹*/
.banner {
  position: block;
  width: 100%;
  height: auto;
  z-index: 0;
}

/* Area das fontes babadeiras 🌹*/
@font-face {
  font-family: "Brittany";
  src: url(Fonts/BrittanySignature.ttf);
}

@font-face {
  font-family: "Rochester";
  src: url(Fonts/Rochester-Regular.ttf);
}

@font-face {
  font-family: "Descricao";
  src: url(Fonts/Sacramento-Regular.ttf);
}

@font-face {
  font-family: "descricao-produto";
  src: url(Fonts/Georema-Descrição.ttf);
}
.estrelado-css {
  background: linear-gradient(to right, #ffc4de, #fff8cd);
  padding: 40px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.recepcao

/*Seja bem vinda*/
  {
  color: #ff4e92;
  font-family: Rochester;
  font-size: 3.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
  text-shadow: rgb(255, 255, 255);
  text-shadow: 0px 20px 30px rgb(255, 255, 255);
}

.nome

/*Shiny-Mood*/
  {
  position: absolute;
  color: white;
  font-family: Rochester;
  font-size: 4.5vw;
  margin-top: 10%;
  left: 50%;
  transform: translate(-52%, -52%);
}

.desc

/*Descrição do Banner*/
  {
  position: absolute;
  color: white;
  font-family: Descricao;
  font-size: 2.7vw;
  margin-top: 15%;
  margin-left: 34.3%;

}

.batom-franciny-recep {
  width: 20%;
  top: 10%;
  left: 100px;
  transform: rotate(70deg);
  position: absolute;
  z-index: 1;
  filter: drop-shadow(0 -20px 8px #0000002a)
}

.PÓMelus-recepcao {
  width: 16%;
  top: 15%;
  left: 1000px;
  transform: rotate(50deg);
  position: absolute;
  z-index: 1;
  filter: drop-shadow(0 -20px 2px #0000002a)
}

/*Começo da vitrine 1 de produtos*/
.caixas {
  box-shadow: white 0px 0px 10px;
  border-radius: 15px;
  border: #cccccc 2px solid;
  background-color: white;
  height: 500px;
  width: 270px;
  margin-left: 1%;
  margin-right: 1%;
  position: relative;
  left: 2%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.caixas:hover{
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}
.posicao {
  display: flex;
  flex-direction: row-reverse;


}

.cor1 {
  background: linear-gradient(135deg, #3d4e9e, #784dff, #e7a6b6, #ea5b6c, #d36120);
  padding: 28px;
  border: 10px solid rgb(255, 255, 255);
  animation: gradient 15s ease infinite;
  border-radius: 20px;
  
  

}

.cor2 {
  background: linear-gradient(100deg, #ff3c7d,#ea5b6c, #ff73b7, #fff2a8, #ffdd6f);

  padding: 28px;
  border-radius: 10px;
  border:10px solid rgb(255, 255, 255);
}

.cor3 {
  background: linear-gradient(135deg, #f7a935, #ccd457, #cfff90, #51c560, #4eff89);
  padding: 28px;
  border:10px solid rgb(255, 255, 255);
}

.cor4 {
  background: linear-gradient(135deg, #c2cbff, #c5afee, #c2ffc4, #b7efff);
  padding: 28px;
  border:10px solid white;
  
}

.poster-vitrine {
  margin-top: 30px;
  width: 30%;
  border: 2px solid #d8cece;
  border-radius: 20px;
  box-shadow: #ffffff 2px 0px 10px;
  float: left;
  position: absolute;
  left: 1%;
}

.titulo-vitrine {
  text-align: right;
  margin-right: 12%;
  font-family: Rochester;
  color: white;
  font-size: 3em;
}
.titulo-vitrine1 {
  text-align: right;
  margin-right: 3%;
  font-family: Rochester;
  color: white;
  font-size: 3em;
}

.nome-produto {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.carrinho {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #383838;
  /* cor preta */
  color: white;
  border: none;
  padding: 0.8em;
  border-radius: 2em;
  font-weight: bold;
  cursor: pointer;
  width: 90%;
  margin: 0.4em auto;
}

.carrinho:hover {
  background-color: #1a1a1a;
  /* cor cinza escuro */
}

.botao-comprar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00c878;
  /* verde vibrante */
  color: white;
  border: none;
  padding: 0.8em;
  border-radius: 2em;
  font-weight: bold;
  cursor: pointer;
  width: 90%;
  margin: 0.4em auto;
}
.botao-comprar, .carrinho{
  position: relative;
  top: 1%;
}

.botao-comprar:hover {
  background-color: #018d53;

}

.like {
  position: absolute;
  top: 4%;
  right: 5%;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  border: 2px solid #afacac;
  border-radius: 10px;
  padding-left: 6px;
  padding-right: 6px;
  color: #999999;

}

.fav-checkbox {
  display: none;
}

input[type="checkbox"]:checked + label {
    color: rgb(255, 95, 149);
    border: 2px solid rgb(105, 236, 127);
}

.like:hover {
  color: rgb(255, 95, 149);
  background-color: hsl(108, 100%, 59%);
  
}


.preco {
  color: white;
  margin: 10px 20px 10px 20px;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-family: descricao-produto;
  font-size: 1.5em;
  background-color: rgb(44, 185, 44);


}

.preco:hover {
  background-color: rgb(27, 204, 116);
  color: rgb(255, 255, 255);
}

p {
  text-align: center;
  font-family: descricao-produto;
  color: rgb(97, 92, 97);
}

.textinho{
  text-align: center;
  font-family: descricao-produto;
  color: rgb(97, 92, 97);
  font-size: 0.8em;
  margin: 7%;
}

footer {
  color: white;
  height: 300px;
  background-image: linear-gradient(135deg, #3d4e9e, #784dff, #e7a6b6, #ea5b6c, #d36120);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer-titulo {
  color: white;
  font-family: descricao-produto;	
  font-size: 1.5em;
  margin-bottom: 20px;
}

.texto-footer,.texto-footer2 {
  color: white;
  font-family: descricao-produto;
  font-size: 1.2em;
  margin-bottom: 10px;
}



.github-link {
  color: #fffafa;
}
.github-link:hover {
   transform: scale(1.05);
}
